@import-normalize;
/* bring in normalize.css styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --body-background: rgba(135, 206, 250, 1);
  /* header */
  --header-background: rgba(0, 100, 0, 1); /*DarkGreen*/
  --header-text-color: rgb(50, 205, 50); /*SpringGreen*/
  --header-text-hover-color: rgb(0, 255, 127); /*MediumSpringGreen*/
  --header-text-active-color: rgb(0, 255, 127); /*MediumSpringGreen*/
  --header-text-active-background: rgb(0, 128, 0); /*Green*/
  /* main */
  --main-background: rgb(0, 128, 0); /*Green*/

  /* form */
  --first-color: rgb(0, 0, 255);
  --first-color-alpha-two: rgba(0, 0, 255, 0.2);
  --first-color-alpha-five: rgba(0, 0, 255, 0.5);
  --second-color: rgb(0, 100, 255);
  --third-color: rgb(224, 255, 255);
  --fourth-color: rgb(175, 238, 238);
  --fifth-color: rgb(255, 255, 255); /*White*/
  --sixth-color: rgb(0, 0, 139); /*DarkBlue*/
  --seventh-color: rgb(255, 0, 0); /*DarkBlue*/
  --eighth-color: rgba(0, 100, 0, 1); /*Yellow*/
  --nineth-color: rgb(0, 128, 0); /*Red*/
  --tenth-color: rgb(14 133 0); /*Red*/
  --eleventh-color: rgb(0 91 0); /*Red*/
  --twelfth-color: rgb(0 153 67); /*Red*/
  --thirteenth-color: rgb(0, 140, 61); /*Red*/
  --fourteenth-color: rgb(2, 247, 153); /*Red*/
  --fifteenth-color: rgb(50, 205, 50); /*MediumSpringGreen*/
  --sixteenth-color: rgb(0, 255, 127); /*MediumSpringGreen*/
  --seventeenth-color: rgb(0, 255, 10); /*MediumSpringGreen*/
  /* radio-button */

  /* dateTimePicker */
  --dateTimePicker-month: var(--fourth-color); /*PaleTurquoise */
  --dateTimePicker-day-color: var(--first-color); /*Indygo */
  --dateTimePicker-day-hover-color: var(--third-color); /*LightCyan */
  --dateTimePicker-day-hover-background: var(--first-color); /*Indygo */
  --dateTimePicker-day-selected-color: var(--third-color); /*LightCyan */
  --dateTimePicker-day-selected-background: var(--second-color); /*DarkOrchid */
  --dateTimePicker-weekday-color: var(--first-color); /*Indygo */
  --dateTimePicker-todaybutton-color: var(--third-color); /*LightCyan */
  --dateTimePicker-todaybutton-background: var(--first-color); /*Indygo */
  --dateTimePicker-todaybutton-hover-background: var(--second-color);
  --dateTimePicker-icon-color: var(--first-color);
  /* dateTimePicker - button*/
  --dateTimePicker-input-button-color: var(--first-color); /*Indygo */
  --dateTimePicker-input-button-background: var(--third-color); /*LightCyan */
  --dateTimePicker-input-button-border: var(--first-color); /*Indygo */
  --dateTimePicker-input-button-hover-background: var(--fourth-color);
  /* checkbox*/
  --checkbox-slider-checked-background: var(--first-color);
  --checkbox-slider-unchecked-background: var(--first-color-alpha-two);
  --checkbox-slider-unchecked-hover-background: var(--first-color-alpha-five);
  /* checkbox*/
  --vertical-line-color: var(--eighth-color);

  /* checkbox-regular*/
  --checkbox-regular-checked-background: var(--nineth-color);
  --checkbox-regular-unchecked-background: var(--nineth-color);
  --checkbox-regular-unchecked-border: var(--tenth-color);
  --checkbox-regular-checkmark: var(--sixteenth-color);
  /* icon-info*/
  --icon-info-color: var(--first-color); /*Indygo */
  --icon-info-hover-color: var(--sixth-color); /*Indygo */
  --icon-info-background: var(--fifth-color); /*LightCyan */
  /* tooltip*/
  --tooltip-error-background: var(--seventh-color); /*Indygo */
  /* form */
  --form-background-color: var(--nineth-color);
  /* input */
  --input-border-color: var(--first-color); /*Indygo */
  --input-border-color-focus: var(--second-color); /*Indygo */
  --input-text-color: var(--first-color);
  --input-placeholder-text-color: var(--first-color-alpha-five);
  /* combobox */
  --combobox-text-color: var(--first-color); /*Indygo */
  --combobox-text-hover-color: var(--first-color-alpha-two); /*LightCyan */
  --combobox-text-selected-background: var(--first-color-alpha-two);
  --combobox-control-background: var(--fifth-color); /*LightCyan */
  --combobox-control-border: var(--first-color); /*BlueViolet */
  --combobox-control-border-hover: var(--first-color-alpha-five);
  /* MainTable */
  --maintable-th-background: var(--eleventh-color); /*Indygo */
  --maintable-th-color: var(--fourteenth-color);
  --maintable-tr-odd-background: var(--nineth-color);
  --maintable-tr-even-background: var(--tenth-color);
  --maintable-tr-hover-background: var(--thirteenth-color);
  --maintable-tr-hover-color: var(--fourteenth-color);
  /* Pagination */
  --pagination-item-hover-disabled-select-background: var(--thirteenth-color);
  --pagination-item-color: var(--fourteenth-color); /*Indygo */

  /* ReportPage */
  --reportPage-text-color: var(--seventeenth-color);
  --reportPage-text-color-hover: var(--fourteenth-color);

  /* form */
  --form-color: rgb(0, 100, 255);
  --form-field-background: rgb(255, 255, 255);
  --form-button-color: rgb(255, 255, 255);
  --form-button-background-first: rgb(0, 0, 255);
  --form-button-background-second: rgb(0, 100, 255);
  /* footer */
  --footer-background: var(--eighth-color);
  --footer-text-color: var(--fifteenth-color);
  --footer-text-color-hover: var(--sixteenth-color);
  /* mobile-menu */
  --mobile-menu-open-icon-color: rgb(0, 0, 255);
  --mobile-menu-open-icon-color-hover: rgb(0, 0, 205);
  --mobile-menu-background: rgb(135, 206, 250);
  --mobile-menu-color: rgb(0, 0, 139);
  --mobile-menu-close-icon-color: rgb(0, 0, 255);
  --mobile-menu-close-icon-color-hover: rgba(0, 0, 205, 0.5);
  /* modal-libraries */
  --modal-libraries-background: rgba(0, 0, 0, 0.8);
  --modal-libraries-link-text-color: rgb(135, 206, 235);
  --modal-libraries-link-text-color-hover: rgb(0, 191, 255);
  --modal-libraries-icon-color: rgb(135, 206, 250);
  line-height: 1.5;
  font-weight: 400;
  --small-font-size: 0.7rem;
  --medium-font-size: 0.8rem;
  --large-font-size: 1rem;
}

/* Definicje dla motywu ciemnego */
/* [data-theme="dark"] {
  --primary-color: #ff751d;
  --secondary-color: #f5f6fb;
  --tertiary-color: #ffffff;
  --accent-color: #242424;
  --lighter-accent-color: #333333;
} */
body {
  margin: 0 0;
  font-family: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--nineth-color);
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
