.form-add-invoice {
  background-color: var(--form-background-color);
  padding: 1.5rem;
  border: 2px solid white;
  border-radius: 1rem;

  .form-add-invoice-container {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
    padding: 1rem;
  }

  .form-add-invoice-title-container {
    position: relative;
  }

  .form-add-invoice-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .form-invoice-data {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;


  }

  .form-invoice-main-data {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
  }

  .dateTimePicker-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .form-add-invoice-save-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button-save-document {
    --background-hover-color: rgb(170, 255, 0);

  }

  .custom-input-container {
    --color-light: var(--background-color);
    --color-dark: var(--text-color);
    --color-signal: var(--text-color);
    --color-input-border-focus: var(--input-focus-button-first-color);
    --size-radius: var(--border-radius-input-and-button);
    --size-bezel: 0.3rem;
  }
}