.reportFormDocuments-main-list-container {
  display: flex;

  // display: grid;
  // grid-template-columns: 1fr;
  // align-items: center;
  // justify-content: left;
  // .reportFormDateTimePickers-container {
  //   display: grid;
  //   grid-template-columns: minmax(200px, 1fr) 1fr 1fr;
  //   align-items: center;
  //   justify-content: center;
  //   opacity: 1; // domyślna wartość
  //   transition: opacity 0.75s cubic-bezier(.4, 0, .2, 1);

  //   &.inactive-component {
  //     opacity: 0.5;
  //     transition: opacity .75s cubic-bezier(.4, 0, .2, 1);
  //     pointer-events: none;
  //   }

  //   .checkbox-container {
  //     justify-self: start;
  //   }


  //   .description-container {
  //     justify-self: end;

  //   }

  //   .dateTimePicker-label {
  //     margin-right: 0.5rem;

  //     white-space: nowrap;
  //   }

  //   .dateTimePicker-container {
  //     justify-self: center;
  //   }
  // }

  .tooltip {
    z-index: 2;
  }

  .tooltip-error {
    background-color: var(--tooltip-error-background);
  }
}