.reportFormCriteria-main-container {
  &.form-disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  .reportFormCriteria-container {
    display: flex;
    flex-flow: column wrap;
    gap: .5rem;
  }

  .reportFormCriteria-documents-container {
    display: flex;
    flex-flow: column wrap;
    gap: .5rem;
    margin-top: .5rem;

  }

  .dateTimePicker-container {
    display: flex;
  }


}