.footer {
    --background-color: var(--footer-background);
    --color: var(--footer-text-color);
    --color-hover: var(--footer-text-color-hover);

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--background-color);
    padding: 15px 10px;
    color: var(--color);
    box-shadow: inset 0px 2px 1px -1px rgba(255, 255, 255, 0.2),
        0px 1px 1px 0px rgba(255, 255, 255, 0.14), 0px 1px 3px 0px rgba(255, 253, 253, 0.12);
    margin: auto auto;
    width: 100%;


    .footer-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .footer-logo {
        display: flex;
        flex-flow: column nowrap;
        width: 32px;
        align-items: center;
    }

    .footer-address a {
        color: var(--color);
        transition: color .75s cubic-bezier(.4, 0, .2, 1);
    }

    .footer-address a:hover {
        color: var(--color-hover);
    }

    .footer-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .footer-info span {
        font-size: 0.9rem;
    }
}