.checkbox-main-container {
  --checkbox-checked-background: var(--checkbox-slider-checked-background);
  --checkbox-unchecked-background: var(--checkbox-slider-unchecked-background);
  --checkbox-unchecked-hover-background: var(--checkbox-slider-unchecked-hover-background);
  --checkbox-color-circle: var(--checkbox-slider-color-circle-background);
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  .toggle-switch {
    width: 2.75rem;
    height: 1.5rem;
    appearance: none;
    position: relative;
    background-color: var(--checkbox-unchecked-background);
    border-radius: 100px;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
  }

  .toggle-switch::before {
    content: '';
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background-color: var(--checkbox-color-circle);
    position: absolute;
    transform: translate3d(2px, 2px, 0);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
    transition: transform .2s ease-in-out;
  }

  .toggle-switch:checked {
    background-color: var(--checkbox-checked-background);
  }

  .toggle-switch:hover:not(:checked) {
    background-color: var(--checkbox-unchecked-hover-background);
  }

  .toggle-switch:checked::before {
    transform: translate3d(calc(1.25rem + 2px), 2px, 0);
  }
}