.reportFormSingleDocument-main-container-li {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0.5rem;

  .reportFormSingleDocument-main-container {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
  }

  .checkbox-container {
    justify-self: start;
  }

  .child-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 2rem;
  }

  .description-container {
    opacity: 1; // domyślna wartość
    transition: opacity 0.75s cubic-bezier(.4, 0, .2, 1);

    &.description-container-cursor {
      cursor: pointer;
    }

    &.inactive-component {
      opacity: 0.5;
      transition: opacity .75s cubic-bezier(.4, 0, .2, 1);
    }
  }

  .tooltip {
    z-index: 2;
  }

  .tooltip-error {
    background-color: var(--tooltip-error-background);
  }
}