 .container-icon {
   --background-color: var(--icon-info-background);
   --color: var(--icon-info-color);
   --color-hover: var(--icon-info-hover-color);
   --tooltip-fontsize: 0.9rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--background-color);
   position: absolute;
   right: 0.5rem;
   top: 0.5rem;
   width: 1.5rem;
   height: 1.5rem;
   border-radius: 50%;
   transition: color 3.75s cubic-bezier(.4, 0, .2, 1);
   cursor: help;
   user-select: none;
   z-index: 100;

   &>svg {
     color: var(--color);
     transition: color .75s cubic-bezier(.4, 0, .2, 1);
     font-size: 1.5rem;
   }

   &:hover {

     // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     >svg {
       color: var(--color-hover);

     }
   }
 }

 .tooltip {
   z-index: 101;
   font-size: var(--tooltip-fontsize) !important;
 }