.mainTable-main-container {
  --th-background-color: var(--maintable-th-background);
  --th-color: var(--maintable-th-color);
  --tr-odd-background-color: var(--maintable-tr-odd-background);
  --tr-even-background-color: var(--maintable-tr-even-background);
  --tr-hover-background-color: var(--maintable-tr-hover-background);
  --tr-hover-color: var(--maintable-tr-hover-color);
  --font-size-small: var(--small-font-size);
  --font-size-medium: var(--medium-font-size);
  --font-size-large: var(--large-font-size);

  display: flex;
  flex-direction: column;
  align-items: center; //
  font-size: 1rem;
  margin: 2rem 1rem;


  .table {
    border-collapse: collapse;
    background-color: var(--tr-odd-background-color);
    box-shadow: 0 1px 3px #0003, 0 1px 1px #00000024, 0 2px 1px -1px #0000001f;
    margin: 0 auto;
    overflow: hidden; // Ukrywa wystające kanciaste rogi komórek
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;


    th,
    td {
      text-align: left;
      padding: 2px 5px;
    }

    th {
      border: 1px solid rgb(0 117 21);
      background-color: var(--th-background-color);
      color: var(--th-color);
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
    }

    td {
      border: 1px solid var(--th-background-color);
      cursor: pointer;
    }

    tr {
      color: black;

      transition: background-color 0.2s ease, color 0.2s ease;

      &:nth-child(even) {
        background-color: var(--tr-even-background-color);
      }

      &:hover {
        color: var(--tr-hover-color);
        background-color: var(--tr-hover-background-color);

      }
    }

    .edit-button,
    .delete-button {
      padding: 6px 12px;
      margin: 4px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 0.6rem;
      transform: scale(1); // Domyślny stan skalowania
      transition: background-color 0.5s ease, transform 0.15s ease; // Animacja dla obu właściwości

      &:active {
        // transition: 50ms linear;
        transform: scale(0.9);
      }
    }

    .edit-button {
      background-color: #4caf50;
      color: #ffffff;

      &:hover {
        background-color: #2e7d32;
      }
    }

    .delete-button {
      background-color: #f44336;
      color: #ffffff;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }

  .maintable-footer-container {
    display: flex;
    background-color: var(--th-background-color);
    box-shadow: 0 1px 3px #0003, 0 1px 1px #00000024, 0 2px 1px -1px #0000001f;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding: 0.5rem;


    .maintable-controls-container {
      display: flex;
      align-self: start;
      justify-content: space-between;
      gap: 50px;
    }

    .controls {
      display: flex;
      align-self: start;
      align-items: center;
      gap: 10px;

      .label {
        font-size: 0.8rem;
        color: rgb(2, 247, 153);
      }

      .select {
        padding: 5px;
        border: 1px solid rgb(2, 247, 153);
        color: rgb(2, 247, 153);
        background-color: var(--th-background-color);
        border-radius: 4px;
        font-size: 0.8rem;
        ;
        cursor: pointer;

        &:focus {
          outline: none;
          border-color: #2e7d32;
        }
      }
    }

    .total-invoices {
      align-self: center;
      justify-self: center;
      font-size: 0.8rem;
      color: rgb(2, 247, 153);
      text-align: center;
    }

    .pagination {
      display: flex;
      gap: 3px;
      align-items: center;
      justify-content: center;
      margin: 0 auto
    }
  }

  .small-font {
    font-size: var(--font-size-small);
  }

  .medium-font {
    font-size: var(--medium-font-size);
  }

  .large-font {
    font-size: var(--large-font-size);
  }
}