.navigation-main-container {
    display: flex;
    flex-flow: row wrap;
    font-weight: 800;
    font-size: 1.5rem;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;

    a {
        color: var(--header-text-color);
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        font-weight: 800;
        transition: color .75s cubic-bezier(.4, 0, .2, 1);
        user-select: none;
        display: inline-flex;
        /* Dodajemy flex dla lepszego wyrównania */
        align-items: center;
        /* Wyrównanie w pionie */
        justify-content: center;
        /* Wyrównanie w poziomie */
    }

    a:hover {
        color: var(--header-text-hover-color);
        cursor: pointer;
    }

    a.active {
        color: var(--header-text-active-color);
        background-color: var(--header-text-active-background);
    }

    .navigation-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .status-container {
        display: flex;
        gap: 1rem;

        align-items: center;

        .icon-container-db {
            font-size: 2rem;
            color: rgb(128, 128, 128);
            display: inline-flex;
            /* Dodajemy flex dla lepszego wyrównania */
            align-items: center;
            cursor: help;

            &.icon-container-db[data-status="0"] {
                color: rgb(255, 0, 0);
            }

            &.icon-container-db[data-status="1"] {
                color: rgb(255, 165, 0);
            }

            &.icon-container-db[data-status="2"] {
                color: var(--header-text-color);
            }
        }

        .icon-container-font-size {
            font-size: 2rem;
            font-weight: 900;
            color: var(--header-text-color);
            display: inline-flex;
            /* Dodajemy flex dla lepszego wyrównania */
            align-items: center;
            cursor: pointer;

            &:hover {
                color: var(--header-text-active-color);
            }
        }

        .user-label-container {
            display: grid;
            grid-template-columns: 1fr;


            @keyframes shine {
                0% {
                    background-position: 110% 0%, 0 0;
                }

                100% {
                    background-position: -10% 0%, 0 0;
                }
            }

            .user-label {
                position: relative;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 5px;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: 900;
                font-size: 0.8rem;
                text-transform: uppercase;
                margin: 0;

                .first-span {
                    justify-self: flex-end;
                    --button-gradient-first-color: rgb(17, 145, 15);
                    --button-gradient-second-color: rgb(20, 252, 12);

                    @supports ((background-clip: text) or (-webkit-background-clip: text)) {
                        color: transparent;
                        background-image: linear-gradient(45deg, var(--button-gradient-first-color) 0%, var(--button-gradient-second-color) 51%, var(--button-gradient-first-color) 100%);
                        background-position: 110% 0%, 0 0;
                        background-size: 200% auto, auto;
                        -webkit-background-clip: text;
                        background-clip: text;
                    }

                    &.animate {
                        animation: shine 3s ease-in-out 2s infinite alternate;
                    }
                }

                .second-span {
                    color: var(--header-text-color);
                    text-shadow: -1px -1px 1px #111, 2px 2px 1px #363636;
                }
            }
        }
    }

    .icon-container a svg {
        font-size: 2rem;
    }

    .tooltip {
        z-index: 2;
        font-size: 0.8rem;
        font-weight: 400;
    }
}

//media
@media (min-width: 769px) {
    .navigation-main-container {
        flex-flow: row wrap;
    }
}