.formhomedate-main-container {

  .form {
    display: flex;
    flex-flow: nowrap;
    gap: 1rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 1rem;
  }

  .dateTimePicker-main-container {
    display: flex;
    flex-flow: nowrap;
    gap: 1.5rem;
    padding: 1rem;
    margin-left: 2rem;
    z-index: 900;
    text-align: center;

    .dateTimePicker-container {
      display: flex;
      flex-flow: column nowrap;
    }
  }

  .container-button {
    z-index: 1;
    display: flex;
    align-items: end;

    .button {
      --button-gradient-first-color: rgb(0, 0, 255);
      --button-gradient-second-color: rgb(0, 100, 255);
      // margin: 10px;
      padding: 15px 30px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      border-radius: 10px;
      display: block;
      border: 0px;
      font-weight: 700;
      box-shadow: 0px 0px 14px -7px var(--button-gradient-second-color);
      background-image: linear-gradient(45deg, var(--button-gradient-first-color) 0%, var(--button-gradient-second-color) 51%, var(--button-gradient-first-color) 100%);
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }

    .button:hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }

    // .button:active {
    //   transform: scale(0.95);
    // }

    button:not(:disabled):focus,
    button:not(:disabled):hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }

    button:not(:disabled):active {
      transform: scale(0.95);
    }

    button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}



//media
@media print {

  //Ukrywamy element
  .container-form {
    display: none;
  }
}